<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>指纹锁</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img13.gomein.net.cn/image/prodimg/gicon/cat10000234.png</string>
				<key>goods_title</key>
				<string>电风扇</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img14.gomein.net.cn/image/prodimg/promotion_image/promoImg/201504/20150430/cat10000230x.png</string>
				<key>goods_title</key>
				<string>空气净化器</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000203.png</string>
				<key>goods_title</key>
				<string>微波炉</string>
			</dict>
            <dict>
                <key>image_url</key>
                <string>http://img13.gomein.net.cn/image/prodimg/gicon/cat10000234.png</string>
                <key>goods_title</key>
                <string>电风扇</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img14.gomein.net.cn/image/prodimg/promotion_image/promoImg/201504/20150430/cat10000230x.png</string>
                <key>goods_title</key>
                <string>空气净化器</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000203.png</string>
                <key>goods_title</key>
                <string>微波炉</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img13.gomein.net.cn/image/prodimg/gicon/cat10000234.png</string>
                <key>goods_title</key>
                <string>电风扇</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img14.gomein.net.cn/image/prodimg/promotion_image/promoImg/201504/20150430/cat10000230x.png</string>
                <key>goods_title</key>
                <string>空气净化器</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000203.png</string>
                <key>goods_title</key>
                <string>微波炉</string>
            </dict>
		</array>
	</dict>
</array>
</plist>
