<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>房地产专用锁</string>
		<key>goods</key>
		<array>
            <dict>
                <key>image_url</key>
                <string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000070.png</string>
                <key>goods_title</key>
                <string>手机</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img11.gomein.net.cn/image/prodimg/gicon/cat10000092.png</string>
                <key>goods_title</key>
                <string>笔记本电脑</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img12.gomein.net.cn/image/prodimg/gicon/cat10000145.png</string>
                <key>goods_title</key>
                <string>单反相机</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000070.png</string>
                <key>goods_title</key>
                <string>手机</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img11.gomein.net.cn/image/prodimg/gicon/cat10000092.png</string>
                <key>goods_title</key>
                <string>笔记本电脑</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img12.gomein.net.cn/image/prodimg/gicon/cat10000145.png</string>
                <key>goods_title</key>
                <string>单反相机</string>
            </dict>
		</array>
	</dict>
</array>
</plist>
