<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>酒店门锁</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img13.gomein.net.cn/image/prodimg/gicon/cat10000049.png</string>
				<key>goods_title</key>
				<string>平板电视</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img14.gomein.net.cn/image/prodimg/gicon/cat10000054.png</string>
				<key>goods_title</key>
				<string>冰箱</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000062.png</string>
				<key>goods_title</key>
				<string>挂饰空调</string>
			</dict>
            <dict>
                <key>image_url</key>
                <string>http://img13.gomein.net.cn/image/prodimg/gicon/cat10000049.png</string>
                <key>goods_title</key>
                <string>平板电视</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img14.gomein.net.cn/image/prodimg/gicon/cat10000054.png</string>
                <key>goods_title</key>
                <string>冰箱</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000062.png</string>
                <key>goods_title</key>
                <string>挂饰空调</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img13.gomein.net.cn/image/prodimg/gicon/cat10000049.png</string>
                <key>goods_title</key>
                <string>平板电视</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img14.gomein.net.cn/image/prodimg/gicon/cat10000054.png</string>
                <key>goods_title</key>
                <string>冰箱</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000062.png</string>
                <key>goods_title</key>
                <string>挂饰空调</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img13.gomein.net.cn/image/prodimg/gicon/cat10000049.png</string>
                <key>goods_title</key>
                <string>平板电视</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img14.gomein.net.cn/image/prodimg/gicon/cat10000054.png</string>
                <key>goods_title</key>
                <string>冰箱</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000062.png</string>
                <key>goods_title</key>
                <string>挂饰空调</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img13.gomein.net.cn/image/prodimg/gicon/cat10000049.png</string>
                <key>goods_title</key>
                <string>平板电视</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img14.gomein.net.cn/image/prodimg/gicon/cat10000054.png</string>
                <key>goods_title</key>
                <string>冰箱</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000062.png</string>
                <key>goods_title</key>
                <string>挂饰空调</string>
            </dict>
		</array>
	</dict>
</array>
</plist>
