<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>巡更系统</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img11.gomein.net.cn/image/prodimg/gicon/cat16035542.png</string>
				<key>goods_title</key>
				<string>啤酒</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img12.gomein.net.cn/image/prodimg/gicon/cat21755542.png</string>
				<key>goods_title</key>
				<string>品牌纸尿裤</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img13.gomein.net.cn/image/prodimg/gicon/cat10005460.png</string>
				<key>goods_title</key>
				<string>床品件套</string>
			</dict>
            <dict>
                <key>image_url</key>
                <string>http://img11.gomein.net.cn/image/prodimg/gicon/cat16035542.png</string>
                <key>goods_title</key>
                <string>啤酒</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img12.gomein.net.cn/image/prodimg/gicon/cat21755542.png</string>
                <key>goods_title</key>
                <string>品牌纸尿裤</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img13.gomein.net.cn/image/prodimg/gicon/cat10005460.png</string>
                <key>goods_title</key>
                <string>床品件套</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img11.gomein.net.cn/image/prodimg/gicon/cat16035542.png</string>
                <key>goods_title</key>
                <string>啤酒</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img12.gomein.net.cn/image/prodimg/gicon/cat21755542.png</string>
                <key>goods_title</key>
                <string>品牌纸尿裤</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img13.gomein.net.cn/image/prodimg/gicon/cat10005460.png</string>
                <key>goods_title</key>
                <string>床品件套</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img11.gomein.net.cn/image/prodimg/gicon/cat16035542.png</string>
                <key>goods_title</key>
                <string>啤酒</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img12.gomein.net.cn/image/prodimg/gicon/cat21755542.png</string>
                <key>goods_title</key>
                <string>品牌纸尿裤</string>
            </dict>
            <dict>
                <key>image_url</key>
                <string>http://img13.gomein.net.cn/image/prodimg/gicon/cat10005460.png</string>
                <key>goods_title</key>
                <string>床品件套</string>
            </dict>
		</array>
	</dict>
</array>
</plist>
