<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>items</key>
			<array>
				<dict>
					<key>detail2</key>
					<string>左侧开</string>
					<key>detail1</key>
					<string>三合一（亮金色）</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>ADEL爱迪尔4920 智能指纹锁</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<real>1968</real>
					<key>realPrice</key>
					<real>1968</real>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>ADEL爱迪尔深圳门店一</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<real>1968</real>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>detail2</key>
					<string>左侧开</string>
					<key>detail1</key>
					<string>三合一（亮金色）</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>ADEL爱迪尔4920 智能指纹锁</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<real>1968</real>
					<key>realPrice</key>
					<real>1968</real>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>ADEL爱迪尔深圳门店一</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<real>1968</real>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>detail2</key>
					<string>左侧开</string>
					<key>detail1</key>
					<string>三合一（亮金色）</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>ADEL爱迪尔4920 智能指纹锁</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<real>1968</real>
					<key>realPrice</key>
					<real>1968</real>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>ADEL爱迪尔深圳门店一</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<real>1968</real>
					<key>userId</key>
					<string></string>
				</dict>
			</array>
			<key>shopName</key>
			<string>ADEL爱迪尔深圳门店一</string>
			<key>sid</key>
			<string>3</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>items</key>
			<array>
				<dict>
					<key>detail2</key>
					<string>左侧开</string>
					<key>detail1</key>
					<string>三合一（亮金色）</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>ADEL爱迪尔4920 智能指纹锁</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<real>1968</real>
					<key>realPrice</key>
					<real>1968</real>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>ADEL爱迪尔深圳门店二</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<real>1968</real>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>detail2</key>
					<string>左侧开</string>
					<key>detail1</key>
					<string>三合一（亮金色）</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>ADEL爱迪尔4920 智能指纹锁</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<real>1968</real>
					<key>realPrice</key>
					<real>1968</real>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>ADEL爱迪尔深圳门店二</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<real>1968</real>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>detail2</key>
					<string>左侧开</string>
					<key>detail1</key>
					<string>三合一（亮金色）</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>ADEL爱迪尔4920 智能指纹锁</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<real>1968</real>
					<key>realPrice</key>
					<real>1968</real>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>ADEL爱迪尔深圳门店二</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<real>1968</real>
					<key>userId</key>
					<string></string>
				</dict>
			</array>
			<key>shopName</key>
			<string>ADEL爱迪尔深圳门店二</string>
			<key>sid</key>
			<string>3</string>
		</dict>
	</array>
	<key>success</key>
	<true/>
</dict>
</plist>
